<%- include('partials/header') %>
<link rel="stylesheet" href="/stylesheets/newCss.css">

<div class="container">
    <form action="/register" method="POST">
        <p><h4>Create New Account</h4></p>
        <div id="formDiv">
            <label for="usernameReg">Username</label><br>
            <input id="usernameReg" name="usernameReg" type="text" class="form-control form-control-sm" placeholder="Username"><br>
            <label for="passwordReg">Password</label><br>
            <input id="passwordReg" name="passwordReg" type="text" class="form-control form-control-sm" placeholder="Password"><br>
            <button type="submit" class="btn btn-success btn-sm">Submit</button>
            <a href="/campgrounds" class="btn btn-danger btn-sm">Go Back</a>
        </div>
    </form>
</div>

<%- include('partials/footer') %>