<%- include('../partials/header') %>
<link rel="stylesheet" href="/stylesheets/newCss.css">

<div class="container">
    <form action="/campgrounds" method="POST">
        <p><h4>Add New Camp</h4></p>
        <div id="formDiv">
            <label for="camp[name]">Name</label><br>
            <input id="camp[name]" name="camp[name]" type="text" class="form-control form-control-sm" placeholder="Name of the campground"><br>
            <label for="camp[image]">Image Url</label><br>
            <input id="camp[image]" name="camp[image]" type="text" class="form-control form-control-sm" placeholder="Paste the image url"><br>
            <label for="camp[description]">Description</label><br>
            <textarea id="camp[description]" name="camp[description]" type="text" class="form-control form-control-sm" cols="30" rows="10"></textarea><br>
            <button type="submit" class="btn btn-success btn-sm">Submit</button>
            <a href="/campgrounds" class="btn btn-danger btn-sm">Go Back</a>
        </div>
    </form>
</div>

<%- include('../partials/footer') %>